{
  "presets": ["es2015", "stage-3"],
  "env": {
    "test": {
      "presets":[
        ["es2015", { "modules": "commonjs" }],
        "stage-3"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
